<mat-card class="card">
    <mat-card-title>New Product Form</mat-card-title>
    <mat-card-subtitle>Create your own product</mat-card-subtitle>
    <mat-card-content>

        <form class="form" [formGroup]="form">
            
            <mat-card class="result">

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input formControlName="title" matInput #message maxlength="100" placeholder="Your Name Product">
                </mat-form-field>
    
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput #message maxlength="255" placeholder="Your Description"></textarea>
                </mat-form-field>
    

                <mat-card-content>
                    <h2 class="example-h2">Active</h2>

                    <section class="example-section">
                        <mat-checkbox formControlName="published">
                            Active Your Product
                        </mat-checkbox>
                    </section>
                </mat-card-content>

            </mat-card>

        </form>

    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Send</button>
        <button mat-button>Cancel</button>
    </mat-card-actions>
</mat-card>